Source: soulmate-pve
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.8)

Package: soulmate-pve
Architecture: amd64
Depends: soulmate-pve-core, soulmate-pve-kernel-set-default
Conflicts: resolvconf
Description: Soulmate Proxmox VE installer
 This package automates Proxmox VE installation in soulmate

Package: soulmate-pve-core
Architecture: amd64
Depends: proxmox-ve, pve-headers, postfix, open-iscsi, soulmate-pve-kernel
Suggests: soulmate-pve-kernel-set-default
Description: Soulmate Proxmox VE core packages
 This package installs soulmate required Proxmox VE packages

Package: soulmate-pve-kernel
Architecture: amd64
Depends: soulmate-pve-firmware, pve-headers-4.15, pve-kernel-4.15
Suggests: soulmate-pve-kernel-set-default
Description: Soulmate Proxmox VE compatible kernel
 This kernel grants Proxmox VE compatibility but
 is affected by kernel >=4.9 tg3 network module issues

Package: soulmate-pve-kernel-set-default
Architecture: amd64
Depends: soulmate-pve-kernel
Description: Set soulmate-pve-kernel as default kernel in grub bootloader
 This package fixes the soulmate-pve selected kernel as default kernel
 in grub to grant Proxmox VE compatibility

Package: soulmate-pve-firmware
Architecture: amd64
Depends: broadcom-bt-firmware, pve-firmware
Suggests: soulmate-pve-kernel
Description: Soulmate Proxmox VE firmware
 This package installs firmware packages required by soulmate and proxmox pve kernel

Package: qemu-system-x86
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-system-x86 using pve-qemu-kvm
 Trivial replacement of qemu-system-x86 for compatibility
 with proxmox VE

Package: qemu-kvm
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-kvm using pve-qemu-kvm
 Trivial replacement of qemu-kvm for compatibility
 with proxmox VE

Package: qemu-system-common
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-system-common using pve-qemu-kvm
 Trivial replacement of qemu-system-common for compatibility
 with proxmox VE

Package: qemu-utils
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-utils using pve-qemu-kvm
 Trivial replacement of qemu-utils for compatibility
 with proxmox VE

Package: qemu-block-extra
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-block-extra using pve-qemu-kvm
 Trivial replacement of qemu-block-extra for compatibility
 with proxmox VE
