Source: soulmate-pve
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.8)

Package: soulmate-pve
Architecture: all
Depends: proxmox-ve, postfix, open-iscsi
Description: Soulmate Proxmox VE installer
 This package automates Proxmox VE installation in soulmate
