Source: soulmate-pve
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.8)

Package: soulmate-pve
Architecture: amd64
Depends: proxmox-ve, postfix, open-iscsi
Description: Soulmate Proxmox VE installer
 This package automates Proxmox VE installation in soulmate

Package: qemu-system-x86
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-system-x86 using pve-qemu-kvm
 Trivial replacement of qemu-system-x86 for compatibility
 with proxmox VE

Package: qemu-kvm
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-kvm using pve-qemu-kvm
 Trivial replacement of qemu-kvm for compatibility
 with proxmox VE

Package: qemu-system-common
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-system-common using pve-qemu-kvm
 Trivial replacement of qemu-system-common for compatibility
 with proxmox VE

Package: qemu-utils
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-utils using pve-qemu-kvm
 Trivial replacement of qemu-utils for compatibility
 with proxmox VE

Package: qemu-block-extra
Architecture: amd64
Depends: pve-qemu-kvm
Description: Replacement of qemu-block-extra using pve-qemu-kvm
 Trivial replacement of qemu-block-extra for compatibility
 with proxmox VE
